.content_iframe {
    width: 100%;
    height: calc(100vh - 100px);
    position: relative;
    border: none;
}
.content {
    padding-bottom: 50px;
}
#lang-modal {
    z-index: 100;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100vw;
    height: 22px;
    padding: 22px;
    background-color: whitesmoke;
}
#lang-modal p {
    color: rgb(206, 0, 0);
    font-weight: bold;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#lang-notice {
    margin-top: 54px;
    padding: 0px 10px 0px 10px;
    text-align: justify;
}
#lang-notice h6 {
    line-height: 1.6;
}
.language-toggles {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.language-toggles p {
    margin-bottom: 0;
}
#english-language-choice, #french-language-choice {
  display: inline-block;
  padding-right: 1em;
}

#french-language-choice {
    padding-right: 0.6em;
}

#english-toggle, #french-toggle {
      display: inline-block;
      position: relative;
      top: 10px;
}
.english-lang-choice {
    padding-bottom: 2em;
}
#continueToStartMenu {
    position: fixed;
    bottom: 0;
}
#startLink {
    color: gainsboro;
}

/* Language settings */
.language-btn-settings {
    text-align: center;
    position: relative;
    top: calc(100vh/3);
    width: 100px;
    margin: 0 auto;
}
.language-btn-settings button {
    margin-bottom: 3em;
    transform: scale(1.5);
    border: 1px solid #fafafa;
    background-color:royalblue;
    color: white;
    height: 2.5em;
    width: 6em;
}

#settings-header {
    position: relative;
    top: 100px;
    margin: auto;
    text-align: center !important;
    font-weight: 400;
    font-size: 1em;
}

.about-section {
    text-align: justify;
}

.about-description-text {
    padding: 0.5em;
    line-height: 1.25em;
}

.about-img {
    width: 80vw; 
    margin: auto; 
    display: block; 
    margin-bottom: 2em;
}

.welcome-text {
    text-align: justify;
    padding: 1em;
}

.btn {
    font-weight: 600;
    color: royalblue;
}
